/* App.css */


.input-container, .resultado-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  /* background-color: #1e1e1e; */
  background-image: url('/img/fondo/fondo.jpg');
  /* background-size: contain; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cen;
  font-family: 'Arial', sans-serif; 
}

.contenedor{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.texto-vacio{
  color: white;
}